@page "/"
@inject NavigationManager NavigationManager
@inject EmployeeDB Database

<PageTitle>Home | Parham</PageTitle>

<div class="headingBox">
    <h3>Bosses</h3>
    <h3>Workers</h3>
</div>

<div class="tableBox">
    
    <BossTable Bosses="_bosses"/>
    <WorkerTable Workers="_workers"/>

</div>

@code
{
    private List<Boss> _bosses = new List<Boss>();

    private List<Worker> _workers = new List<Worker>();

    protected override void OnInitialized()
    {
        _bosses = Database.GetBosses();
        _workers = Database.GetWorkers();
    }
    
}
