@page "/Bosses"
@inject NavigationManager NavigationManager
@inject EmployeeDB Database

<PageTitle>Bosses</PageTitle>

<div class="tableBox">
    
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Department</th>
                <th scope="col">Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Boss boss in _bosses)
            {
                <tr>
                    <td>@boss.Firstname</td>
                    <td>@boss.Lastname</td>
                    <td>@boss.Department</td>
                    <td>@boss.Salary</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="buttonBox" @onclick="backButton">
    <button class="btn btn-outline-info justify-content-end position-sticky">Back</button>
</div>

@code
{
    private List<Boss> _bosses = new List<Boss>();

    protected override void OnInitialized()
    {
        _bosses = Database.GetBosses();
    }

    private void backButton()
    {
        NavigationManager.NavigateTo("/");
    }
}
